#member-profile-page{
    background-color: beige !important;
}

#member-profile-page div.title-dash,
#member-profile-page nav h2{
    background-color: #372c0c;
}

#member-profile-page nav{
    background-color: #554f3b;
}

#member-profile-page nav a:hover{
    background-color: #b4a87f;
}


/**
    **** dashboard/users/Admin 
                AND
        User/Members
    ****
**/


div.top-profile{
    margin-top:             20px;
    display:                grid;
    grid-template-columns:  37.33% auto;
    grid-column-gap:        10px;
}

aside.photo-profile, 
section.intro-profile,
section.data-admin,
section.setting-profile{
    border:         1px solid #5e8091;
    background:     white;
    margin-bottom:  2em; 
    
}

aside.photo-profile{
    padding:    .5rem;
    max-height:     320px;
}

section.intro-profile{
    margin-left: 0;
    
}

section.intro-profile,
section.data-admin,
section.setting-profile{
    padding: 1.6em;
}


aside.photo-profile img{
    width:  300px;
    height: 300px;
}

section.data-admin h2,
section.intro-profile h2{
    color:          #7aa7bd;
    text-align:     center;
    margin:         1rem 2rem;
    border-bottom:  1px solid;
    font-weight:    600; 
}

section.intro-profile span{
    float:      right;
    font-size:  .7em;
}

section.data-admin ul{
    list-style: none;
    padding-left: 0em;
}

section.data-admin li{
    display:                grid;
    grid-template-columns:  70% 10% 10% 10%;
    padding:                10px 0 1px 2em;
}

section.data-admin h3{
    color:              #7aa7bd;
    font-size:          1.7em;
    text-align:         center;
    margin:             .8em 0 .5em 0em;
    text-decoration:    underline;
}

#separate-profile-admin{
    margin: 	        30px auto auto auto;
    width: 			    50%;
    height: 			4px;
    background-color:   #7aa7bd;
    border-radius:      50%;
    filter:             blur(0.5px);  
}

section.data-admin .admin-empty{
    font-size:      1.2em;
    padding-left:   10em;
}

section.data-admin p.admin-data{
    font-size:          1.3em;
    padding:            1em 0 0.5em 3em;
    font-weight:        500;
    text-decoration:    underline;
}

section.data-admin ul p{
    font-size: 1.1em; 
}

section.data-admin ul i{
    padding-right: 1em;
}

section.data-admin li:nth-child(2n+2){
    background: #7aa7bd;
}

section.setting-profile{
    display:                grid;
    grid-template-columns:  auto auto auto;
    grid-gap:               10px;
}


section.setting-profile div.single-icon{
	position:       relative;
    height:         180px;
    background:     #7aa7bd;
    float:          left;
    box-sizing:     border-box;
    overflow:       hidden;
    border-radius:  10px;
}

section.setting-profile div.icon{
	position:   absolute;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    background: white;
    transition: 0.5s;
    z-index:    1;
}

section.setting-profile div.single-icon:hover div.icon{
    top:            10px;
    left:           calc(50% - 17px);
    width:          40px;
    height:         40px;
    border-radius:  50%;
}

section.setting-profile div.icon i{
    position:   absolute;
    top:        50%;
    left:       50%;
    transform:  translate(-50%,-50%);
    font-size:  80px;
    transition: 0.5s;
    color:      #7aa7bd;
}

section.setting-profile div.single-icon:hover div.icon i{
    font-size: 10px;
}

section.setting-profile div.content-icon{
    position:   absolute;
    top:        100%;
	width:      375px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.5s;
    opacity:    0;
}

section.setting-profile div.single-icon:hover div.content-icon{
    top:        65px;
    opacity:    1;
}

section.setting-profile div.content-icon p,
section.setting-profile div.content-icon h3,
section.setting-profile div.content-icon a{
    color: white;
}

section.setting-profile div.content-icon h3{
    font-size:      24px;
    margin-left:    0;
}

section.setting-profile div.content-icon p, 
section.setting-profile div.content-icon a{
    margin:     0;
    padding:    0;
} 
